<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- Move parameter inside <test> (better practice) -->
<!-- Why? -->
<!-- Allows different browsers for different tests later -->
<suite name="Suite">
	<test name="Test">
	<parameter name="browser" value="chrome" />
		<classes>
			<class name="nokrijob.NokriDotCom" />
		</classes>
	</test>
</suite>